<a class="btn btn-sm btn-primary" href="admin" >Home Admin</a>

  <form (ngSubmit)="saveProduct()">

  <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Add Products</span></h5>
  <div class="bg-light p-30 mb-5">
      <div class="row">
          <div class="col-md-6 form-group">
              <label>Product Name</label>
              <input class="form-control"  type="text" placeholder="Iphone15 Promax" [(ngModel)]="productName" name="productName" required>
          </div>
          <div class="col-md-6 form-group">
              <label>Origin</label>
              <input class="form-control" type="text" placeholder="Viet Nam" [(ngModel)]="productOrigin" name="productOrigin" required>
          </div>
          <div class="col-md-6 form-group">
              <label>Category</label>
              <input class="form-control" type="text" placeholder="Like new" [(ngModel)]="productCategory" name="productCategory" required>
          </div>
          <div class="col-md-6 form-group">
              <label>Product Image</label>
              <input class="form-control" type="text" placeholder="Link ảnh" [(ngModel)]="productImage" name="productImage" required>
          </div>
          <div class="col-md-6 form-group">
            <label>Quantity</label>
            <input class="form-control" type="number" placeholder="Số lượng" [(ngModel)]="productQuantity" name="productQuantity" required>
        </div>
          <div class="col-md-6 form-group">
              <label>Price</label>
              <input class="form-control" type="number" placeholder="Giá" [(ngModel)]="productPrice" name="productPrice" required>
          </div>
        
          <div class="col-md-6 form-group">
            <label>Detail</label>
           <textarea class="form-control" placeholder="Chi tiết" [(ngModel)]="productDetails" name="productDetails" required></textarea>
        </div>
        <div class="col-md-6 form-group" *ngIf="productImage">
          <label>Image</label>
          <img [src]="productImage" alt="Product Image" style="width: 300px; height: auto;">
      </div>
             
      <button class="btn btn-block btn-primary font-weight-bold py-3" type="submit">Save Product</button>
      </div>
  </div>
</form>
  
  
