<a class="btn btn-sm btn-primary" href="admin" >Home Admin</a>
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">All Products</span></h2>
    <div *ngIf="showNotification" class="alert alert-success">
        Có sản phẩm mới vừa được thêm vào giỏ hàng!
      </div>
    <div class="row px-xl-5">
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1" *ngFor="let product of products">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" [src]="product.image" alt="Product Image">
                    <div class="product-action">
                       
                        <a class="btn btn-outline-dark btn-square" (click)="deleteProduct(product.id)">
                            <img src="https://cdn-icons-png.flaticon.com/512/3405/3405244.png" alt="Trash Icon" width="20" height="20" />
                            <i class="fa fa-trash"></i>
                        </a>

                    </div>
                </div>
                <div class="text-center py-4">
                    <a name="productName" class="h6 text-decoration-none text-truncate" [routerLink]="['/editproduct', product.id, { userId: currentUserID }]">{{ product.name }}</a>
                    <div class="d-flex align-items-center justify-content-center mt-2" >
                        <h5>${{ product.price }}</h5>
                    </div>
                    <div class="d-flex align-items-center justify-content-center mb-1">
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small>{{product.quantity}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>