<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Danh sách đơn hàng</h6>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-white">
                        <th scope="col">Email</th>
                        <th scope="col">Tên người dùng</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Tổng tiền</th>
                        <th scope="col">Thời gian</th>
                        <th scope="col">Sản phẩm</th>
                        <th scope="col">Duyệt</th>
                        <th scope="col">Xác nhận</th>

                    </tr>
                </thead>
                <tbody *ngFor="let userId of getOrderUserIds()">
                    
                    <tr *ngFor="let orderId of getOrderIds(userId)">
                        <td>{{ orders[userId][orderId]?.email }}</td>
                        <td>{{ orders[userId][orderId]?.fullName }}</td>
                        <td>{{ getTotalQuantity(userId, orderId) }}</td>

                        <td>{{ orders[userId][orderId]?.totalPrice }}</td>
                        <td>{{ orders[userId][orderId]?.date }}</td>
                        <td>
                            <ul>
                                <li *ngFor="let item of orders[userId][orderId]?.orderItems">
                                    {{ item?.name }} <!-- Hiển thị tên sản phẩm từ mảng orderItems -->
                                    {{ item?.status }}
                                </li>
                            </ul>
                        </td>
                        <td>
                            <input class="form-check-input" type="checkbox" (change)="updateSelectedOrders(userId, orderId)">
                        </td>
                        <td>
                            <a class="btn btn-sm btn-primary" (click)="confirmOrder(userId, orderId)">Xác nhận</a>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
